.div {
    height: 100vh;
    padding: 21px;
    overflow: hidden;
    touch-action: none;
}
#duksung {
    color: #A72250;
    font-size: 70px;
    text-align: left;
    font-weight: 700;
}
#grad {
    color: #A72250;
    font-size: 50px;
    text-align: left;
    font-weight: 700;
}
#main {
    color: rgb(136, 135, 135);
    font-size: 60px;
    text-align: left;
    animation: 4s anim-lineUp ease-out;
}
@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
.gradImg {
    width: 400px;
    float: right;
    opacity: 0.3;
    position: absolute;
    transform: translate(10%, -60%);
}