body {
    background-color: rgb(237, 235, 235);
}
.parent {
    display: inline-block;
}
.card {
    width: 230px;
    margin: 30px;
    padding: 12px;
}
.card_inner {
    height: 320px;
}
.card_name {
    margin-top: 26px;
    margin-bottom: 18px;
}
.card_team {
    font-size: 13px;
}